<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AGEAS_iteration1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AGEAS_iteration1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Database1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <AGEAS_iteration1.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="userPassword" serializeAs="String">
        <value>user</value>
      </setting>
    </AGEAS_iteration1.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AGEAS_iteration1.Properties.Settings>
      <setting name="adminUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="adminPassword" serializeAs="String">
        <value>admin</value>
      </setting>
    </AGEAS_iteration1.Properties.Settings>
  </applicationSettings>
</configuration>