<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGEAS_iteration1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGEAS_iteration1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AGEAS_iteration1.Properties.Settings.AGEASConnectionString1"
            connectionString="Server=.;Database=AGEAS;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <AGEAS_iteration1.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value>user</value>
            </setting>
        </AGEAS_iteration1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AGEAS_iteration1.Properties.Settings>
            <setting name="adminUserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="adminPassword" serializeAs="String">
                <value>admin</value>
            </setting>
        </AGEAS_iteration1.Properties.Settings>
    </applicationSettings>
</configuration>